<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Opslag')"></head>
<body>
<script th:src="@{/js/preventDoubleSubmit.js}" defer></script>
<a th:href="@{/}">Menu</a>
<p th:if="${werknemer} == null">Werknemer niet gevonden</p>
<div th:if="${werknemer} != null" th:object="${werknemer}">
    <h1>Opslag voor <span th:text="|*{voornaam} *{familienaam}|"></span></h1>
    <dl>
        <dt>Huidig salaris</dt>
        <dd th:text="*{{salaris}}"></dd>
    </dl>
    <form method="post"
          th:action="@{/werknemers/{id}/opslag(id=*{id})}">
        <label>Bedrag:
            <input name="bedrag" autofocus>
        </label>
        <button>Opslag</button>
    </form>
</div>
<div th:if="${param.opslagGelukt}" class="boodschap">Opslag werd toegekend</div>
<div th:if="${param.bedragFout}" class="fout">Geef een bedrag groter dan 1</div>
<div th:if="${param.werknemerFout}" class="fout">Werknemer niet gevonden. Opslag werd niet toegekend.</div>


</body>
</html>